/* 
    Document   : style
    Created on : Nov 19, 2013, 7:13:30 AM
    Author     : Judith Umba
    Description:
        Purpose of the stylesheet follows.
*/

@import url('CSS/definicoes.css');
@import url('CSS/definicoes_min.css');
html, body, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
}
a:hover {
	color: #FFA405;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background-color: lightsteelblue;
	text-align: center;
	font: 12px Helvetica, arial, sans-serif;
	color: black;
	padding-bottom: 10px;
	padding-top: 31px;
}

#formcadastro {
    padding-left: 400px;
    top: 150px;
    position: absolute;
    margin: auto;
}

#formcadastroTdesc {
    font: 60px Impact, sans-serif;
    color: #f8f8ff;
}

#formcadastroDesc {
    font : 20px Comic Sans MS;
    color: #f8f8ff;
}

#formcadastroForm {
    font : 12px bold Helvetica;
    color: #f8f8ff;
    text-align: center;
}

input[type="text"]
{
    width:200px;
    height: 30px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.buttonR {
    background-color: #0055cc;
    height: 40px;
    width: 200px;
}