/* 
    Document   : style
    Created on : Nov 19, 2013, 7:13:30 AM
    Author     : Judith Umba
    Description:
        Purpose of the stylesheet follows.
*/

@import url('CSS/definicoes.css');
@import url('CSS/definicoes_min.css');
html, body, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
        font: 10px Helvetica, arial, sans-serif;
}
a:hover {
	color: red;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

ul li{
  display: inline;
}

body {
	background-color: #f8f8ff;
	text-align: center;
	font: 12px Helvetica, arial, sans-serif;
	color: black;
	padding-bottom: 10px;
	padding-top: 31px;
        max-width: max-content;
      
}

#formlogin {
    
    left: 460px;
    padding: 10px 10px 10px 10px;
    background: #4bb1cf;
    color: #f8f8ff;
    top: 90px;
    position: absolute;
    margin: auto;
      
}

#mainspace {
    left: 250px;
    top: 100px;
    position: absolute;
    margin: auto;   
}

#menuopcoes {
    position: absolute;
    top: 140px;
    left: 760px;
    background: #4bb1cf;
     -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}

#mainnome {
    position: absolute;
    left: 250px;
    top: 25px;
    font: 60px Impact, sans-serif;
    color: black;
}

#tab-container-1{
    font: 12px Impact, sans-serif;
    color: #f8f8ff;
    top: 120px;
    background: white;
}

#menuTop {
    position: absolute;
    top: 0px;
    left: 900px;
}

#MainDescription {
    font: 60px Impact, sans-serif;
    color: #f8f8ff;
}

#MaindescMsg {
    font : 20px Comic Sans MS;
    color: #f8f8ff;
}

input[type="text"]
{
    width:250px;
    height: 30px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 2px 3px 2px 2px black, 0 -1px black inset;
    -moz-box-shadow: 2px 3px 2px 2px black, 0 -1px black inset;
    box-shadow: 2px 3px 2px 2px black, 0 -1px black inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font : 17px bold Helvetica;
    
}

.secretT {
    width:250px;
    height: 30px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 2px 3px 2px 2px #ccc, 0 -1px black inset;
    -moz-box-shadow: 2px 3px 2px 2px #ccc, 0 -1px black inset;
    box-shadow: 2px 3px 2px 2px black, 0 -1px black inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    
}

select {
    width: 250px;
    padding:9px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 2px 3px 2px 2px #ccc, 0 -1px black inset;
    -moz-box-shadow: 2px 3px 2px 2px #ccc, 0 -1px black inset;
    box-shadow: 2px 3px 2px 2px black, 0 -1px black inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font : 17px bold Helvetica;
}

.buttonE {
    background: rgb(66, 184, 221); /* this is a light blue */
    height: 40px;
    width: 200px;
    margin-top: 10px;
    margin-right: 35px;
    color: #f8f8ff;
    border-radius: 4px;
    margin-left: 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font : 17px bold Helvetica;
}
.erro {
    color:red;
}

.icone {
    width: 25px;
    height: 25px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}

#AvatarPrincipal {
    width: 70px;
    height: 70px;
    background: #4bb1cf;  
    position: absolute;
     -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    
}

#menuprincipal {
    
    left:100px;
    width: 487px;
    background: #4bb1cf;
    position: absolute;
     -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 2px 3px 2px black, 0 -1px black inset;
    -moz-box-shadow: 2px 3px 2px black, 0 -1px black inset;
    box-shadow: 2px 3px 2px black, 0 -1px black inset;
}

.iconemenuP {
    width: 70px;
    height: 70px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
}

#agenteInfo {
    position: absolute;
    width: 170px;
    background: #4bb1cf;
    left: 850px;
    top: 100px;
    color: #f8f8ff; 
     -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 2px 3px 2px black, 0 -1px black inset;
    -moz-box-shadow: 2px 3px 2px black, 0 -1px black inset;
    box-shadow: 2px 3px 2px black, 0 -1px black inset;
    text-align: justify;
}

.wrapper {
    width: 100%;
    height: 80px;
    background : #464646;
    background : #4bb1cf;
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
    
    
}

ul {
    margin: 0;
    padding: 0;
}
 
.ul.menu {
    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
    
}
 
ul.menu li {
    list-style: none;
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)));
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    
}
 
ul.menu li a {
    font: 12px Comic Sans MS, arial, sans-serif;
    color: #f8f8ff;
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : #464646;
    background : #464646;
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}
 
ul li a:hover {
    background: transparent none;
}
 
ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
